<div class="row-fluid main-features">
  <div class="span4">
    <header class="page-header" style="margin: 20px 0 0">
      <h3 style="margin: 10px 0 0">Article Categories</h3>
    </header>
    <ul class="nav nav-pills nav-stacked" style="font-size: 16px;">
      <li>
        <a href="/advertising/">Advertising</a> 
      </li>
      <li>
        <a href="/conversion/">Conversion</a> 
      </li>
      <li>
        <a href="/copywriting/">Copywriting</a> 
      </li>
      <li>
        <a href="/startups/">Startups</a> 
      </li>
      <li>
        <a href="/twitter/">Twitter</a> 
      </li>
    </ul>
  </div>
  <div class="span4">
    <header class="page-header" style="margin: 20px 0 0">
      <h3 style="margin: 10px 0 0">Email Updates</h3>
    </header>
    <p id="footer">Get fresh articles, infographics, marketing guides and more delivered to your inbox each week.</p>
    <a class="btn btn-success" href="http://eepurl.com/uW76T"><span class="btn-label">Subscribe</span></a> 
  </div>
  <div class="span4">
    <header class="page-header" style="margin: 20px 0 0">
      <h3 style="margin: 10px 0 0">Sign Up for AdProof Beta</h3>
    </header>
    <p id="footer">AdProof is now accepting a limited number of users to join our private beta. Get 1 free ad test when you sign up now.</p>
    <a class="btn btn-inverse" href="http://adproof.com/?utm_source=blog-footer-cta">Sign up for beta  <i class="icon-arrow-right icon-white"></i></a> 
  </div>
</div>
