<div class="row-fluid main-features hidden-phone hidden-tablet">
  <div class="span4">
    <header class="page-header">
      <h3>Article Categories</h3>
    </header>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="/advertising/">Advertising</a> 
      </li>
      <li>
        <a href="/startups/">Startups</a> 
      </li>
      <li>
        <a href="/writing/">Writing</a> 
      </li>
    </ul>
  </div>
  <div class="span4">
    <header class="page-header">
      <h3>Email Updates</h3>
    </header>
    <p>Get fresh articles, infographics, marketing guides and more delivered to your inbox each week.</p>
    <a class="btn btn-primary" href="http://eepurl.com/uW76T"><span class="btn-label">Subscribe</span></a> 
  </div>
  <div class="span4">
    <header class="page-header">
      <h3>Sign Up for AdProof Beta</h3>
    </header>
    <p>AdProof is now accepting a limited number of users to join our private beta. Get 1 free ad test when you sign up now.</p>
    <a class="btn btn-inverse" href="http://adproof.com">Sign up for beta  <i class="icon-arrow-right icon-white"></i></a> 
  </div>
</div>
